@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-container {
  width: 100%;
  height: 500px; /* Increased height for better image display */
  margin-bottom: 2rem;
}

.swiper-slide {
  overflow: hidden; /* Hide overflowing parts of the image */
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the slide area, maintaining aspect ratio */
  object-position: center; /* Center the image within the slide */
}

.slide-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  ); /* Gradient for better text readability */
  color: #fff;
  padding: 2rem 1rem 1rem; /* More padding for better spacing */
  text-align: center;
}

.slide-description h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
